.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: 20px auto;
}

.square {
    width: 3%;
    padding-bottom: 3%;
    border: 1px solid #ccc;
}

button {
    display: block;
    margin: 20px auto;
}